@model Utente
@{
    ViewData["Title"] = "Errore";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-center bg-danger text-white">
                    <h2>Errore nel Login</h2>
                </div>
                <div class="card-body">
                    <p class="text-center">C'è stato un errore nella fase di Login. Potresti aver sbagliato il nome utente oppure la password.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-center bg-primary text-white">
                    <h2>Modulo di Accesso</h2>
                </div>
                <div class="card-body">
                    <p class="text-center">Effettua l'accesso</p>
                    <form asp-controller="Home" asp-action="P1" method="post">
                        <div class="form-group">
                            <label asp-for="User" class="font-weight-bold">Nome Utente</label>
                            <textarea asp-for="User" class="form-control"></textarea>
                            <span asp-validation-for="User" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="font-weight-bold">Password</label>
                            <input type="password" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-primary btn-lg">
                                    <i class="fas fa-sign-in-alt"></i> Accedi
                                </button>
                                <button type="reset" class="btn btn-secondary btn-lg">Annulla</button>
                            </div>
                            <div class="text-center mt-3">
                              <a asp-controller="Home" asp-action="Registrati" class="btn btn-link">Non hai un account? Registrati</a>
                              </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <h1 class="display-4">Pagina di Accesso</h1>
    </div>
</div>