@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2> Introduzione</h2>
<p>Benvenuto su TicketOnline. La tua privacy è molto importante per noi. Questa Privacy Policy descrive come raccogliamo, usiamo, divulghiamo e proteggiamo le tue informazioni personali quando visiti il nostro sito web.</p>
 <h2>Informazioni che Raccogliamo</h2>
        <p>Raccogliamo diversi tipi di informazioni per fornire e migliorare i nostri servizi, tra cui:</p>
            <li><strong>Informazioni Personali:</strong> nome, indirizzo email, numero di telefono, ecc.</li>
            <li><strong>Informazioni di Utilizzo:</strong> dettagli su come utilizzi il nostro sito e servizi.</li>
            <li><strong>Informazioni sui Dispositivi:</strong> indirizzo IP, tipo di browser, sistema operativo, ecc.</li>